.App {
  text-align: center;
}

.App h3 {
  color: #1976d2;
}

body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.03); }
  100% { transform: scale(1); }
}
